.contenedor {
  height: 90%;
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: rgba(24, 56, 19, 0.5);
  border-radius: var(--border-radius);
  padding-top: 5px;
  margin-top: 20px;
  justify-content: center;
}

.input,
.btn,
.label {
  border-radius: var(--border-radius);
  color: var(--font-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  background-color: var(--bg-color);
  border: none;
  font-size: 20px;
  padding: 8px;
  height: 43px;
}

.input {
  margin-top: 10px;
  width: 50%;
  text-indent: 0.5em;
  display: inline;
  margin: 10px;
  padding: 0;
}

.btn {
  width: auto;
  border: none;
  text-align: center;
  margin: 0;
}

.error {
  color: var(--font-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

.contenedorInput {
  margin-bottom: 5px;
}

.imgLogin {
  width: 30%;
  height: auto;
  margin-bottom: 1px;
}

.wrapperAll {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  margin: 0;
}

@media (max-width: 950px) {
  .imgLogin {
    width: 50%;
    height: auto;
  }
}

@media (max-width: 450px) {
  .imgLogin {
    width: 100%;
    height: auto;
  }
}
