h2,
.btn {
  background-color: var(--bg-color-elements-cards);
  border-radius: var(--border-radius);
  color: var(--font-color);
  margin: 0.25em;
  font-weight: 500;
}

.container {
  width: 300px;
  height: auto;
  border-radius: var(--border-radius);
  display: inline-block;
  flex-direction: column;
  margin: 1em;
  padding: 0.25em;
  background-image: url(../assets/HD-wallpaper-portal-morty-rick.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.images {
  border-radius: 50%;
  width: 70%;
}

.link {
  text-decoration: none;
}

.btn {
  border: none;
  width: 15%;
  height: 20px;
}

.btn:hover {
  opacity: var(--hv-opacity);
  cursor: pointer;
}
