option,
.select {
  color: var(--font-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--size-font);
}

.select {
  border-radius: var(--border-radius);
  padding: 2px;
  background-color: var(--bg-color);
  margin: 10px;
  border: none;
}

.selectWrapper {
  display: block;
  margin-top: 10px;
}
