.contains {
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: var(--font-family);
  color: var(--font-color);
  margin-bottom: 0;
}

@media (max-width: 950px) {
  h1 {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 450px) {
  h1 {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
