.search,
.srcBtn,
.search::placeholder,
.links {
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  border-radius: var(--border-radius);
  border: none;
  font-size: var(--size-font);
  text-decoration: none;
}

.wrapper {
  margin-bottom: 15px;
}
.srcBtn,
.links {
  text-align: center;
}

.srcBtn:hover,
.links:hover {
  opacity: var(--hv-opacity);
  cursor: pointer;
}

.search {
  margin-top: 10px;
  width: 20vw;
  height: 37px;
  text-indent: 0.5em;
  display: inline;
}

.srcBtn {
  margin-left: 10px;
  width: 65px;
  height: 37px;
  font-size: 15px;
}

.search::placeholder {
  text-align: justify;
  text-indent: 0.5em;
}

.links {
  margin: 0.5em;
  padding: 0.5em;
}

.linksCont,
.inputCont,
.logoWrap {
  display: inline;
}

.logo {
  width: 180px;
  height: auto;
  position: fixed;
  top: 10px;
  left: 20px;
}

.smallLogo {
  width: 63px;
  height: auto;
  position: fixed;
  top: 10px;
  left: 20px;
  visibility: hidden;
}
@media (max-width: 900px) {
  .logo {
    visibility: hidden;
  }
  .smallLogo {
    visibility: visible;
  }
}

@media (max-width: 630px) {
  .smallLogo {
    visibility: hidden;
  }
}
